*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.outer{
	width: 100%;
	height: 900px;
	float: left;
}
.top_section{
	width: 100%;
	height: 400px;
	float: left;
	background-color: #292c33;
}

.bottom_section{
	width: 100%;
	height: 500px;
	float: left;
	background-color: #9d9474;
}
.center_container{
	width: 1000px;
	margin: 0 auto;
}
.hair_tagline{
	font-size: 40px;
	color: white;
	text-align: center;
	font-weight: 700;
	margin-top: 46px;	
}
.main_box{
	width: 1000px;
	/*margin: 0 auto;*/
	/*margin-top: -180px;*/
	margin: -180px auto 0 auto;
	border: 4px solid red;
}
.box{
	width: 30%;
	float: left;
	height: 300px;
	border: 1px solid #9d9474;
	margin: 14px;
	overflow: hidden;
	border-radius: 16px;
}

.box img{
	width: 100%;
}

.box1_img{
	background-image: url('hairlook1.jpg');
	background-position: center;
	background-size: cover;
}

.box2_img{
	background-image: url('hairlook2.webp');
	background-position: center;
	background-size: cover;
}

.box3_img{
	background-image: url('hairlook3.jpg');
	background-position: center;
	background-size: cover;
}

.box4_img{
	background-image: url('hairlook4.webp');
	background-position: center;
	background-size: cover;
}

.box5_img{
	background-image: url('hairlook5.webp');
	background-position: center;
	background-size: cover;
}

.box6_img{
	background-image: url('hairlook6.webp');
	background-position: center;
	background-size: cover;
}